@import url("https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Cinzel:wght@500&family=Special+Elite&display=swap");
/* font-family: 'Beth Ellen', cursive;
font-family: 'Cinzel', serif;
font-family: 'Special Elite', cursive; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #722F37;
  font-family: Special Elite;
  text-align: center;
}

h2 {
  color: #722F37;
  font-family: Special Elite;
}

h3 {
  color: #722F37;
  font-family: Special Elite;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.navbar {
  background-color: #AA9B81;
}

.navbar-brand {
  color: white;
  font-size: 40px;
  font-family: Special Elite;
}
.navbar-brand span {
  color: #722F37;
}

.navbar-nav {
  font-family: Special Elite;
  font-size: 20px;
}

.barra-link {
  text-decoration: none;
  color: white;
  padding: 7px;
}

.barra-link:hover {
  color: #722F37;
}

main {
  height: auto;
}
main .presentacion {
  height: auto;
  padding: 15px;
  margin: 10px;
  background-color: #AA9B81;
}
main .presentacion h1 {
  margin: 10px;
}
main .presentacion p {
  text-align: center;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  padding: 50px;
}
main .presentacion p span {
  font-family: Beth Ellen;
  color: #722F37;
}
main .presentacion img {
  height: auto;
  width: 100%;
}
main .precauciones {
  display: inline-block;
  background-color: #AA9B81;
  padding: 15px;
  margin: 10px;
  width: calc(100% - 20px);
}
main .precauciones h2 {
  text-decoration: underline;
}
main .precauciones li {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
main .precauciones li a {
  color: white;
}
main .precauciones li a:hover {
  color: #722F37;
}
main .demostracion {
  background-color: #AA9B81;
  color: white;
  padding: 15px;
  margin: 10px;
}
main .demostracion p a {
  color: white;
}
main .demostracion p a:hover {
  color: #722F37;
}
main .containerDemostracionDemo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .demo {
  margin: 10px;
  padding: 15px;
  border: white solid 5px;
  width: 300px;
  height: 400px;
}
main .demo img {
  height: auto;
  width: 100%;
}
main .botonDemo {
  margin-top: 10px;
  padding: 10px;
  background-color: #722F37;
  text-decoration: none;
  color: white;
  float: right;
}
main .botonDemo:hover {
  background-color: white;
  color: #722F37;
  transform: scale(1.1);
  transition: all 1s;
}

.productos {
  margin: 10px;
  padding: 15px;
  background-color: #AA9B81;
  color: white;
}
.productos .prod {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 10px;
  border: white solid 5px;
}
.productos aside {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productos aside p {
  font-size: 20px;
}
.productos p a {
  color: white;
}
.productos p a:hover {
  color: #722F37;
}

.faq {
  margin: 10px;
  padding: 15px;
  background-color: #AA9B81;
  color: white;
}
.faq .containerFAQ {
  display: flex;
}
.faq .containerFAQ p a {
  text-decoration: none;
  color: white;
}
.faq .containerFAQ p a:hover {
  color: #722F37;
}
.faq #accordion {
  width: 50%;
}
.faq #accordion .card {
  background-color: #AA9B81;
}
.faq .imagenesFAQ {
  width: 50%;
  text-align: center;
}
.faq .imagenesFAQ img {
  width: 50%;
  margin-bottom: 5px;
}

.nosotros {
  margin: 10px;
  padding: 15px;
  background-color: #AA9B81;
  color: white;
}
.nosotros .nos {
  border: white solid 5px;
  margin: 3px;
  display: flex;
}
.nosotros .nos img {
  width: 50%;
  margin: 10px;
  padding: 10px;
}
.nosotros .nos p {
  margin: 10px;
  padding: 10px;
}

.contacto {
  background-color: #AA9B81;
  margin: 10px;
  padding: 15px;
  color: white;
  height: auto;
  display: flex;
}
.contacto .formulario {
  width: 50%;
}
.contacto .formulario form input {
  width: 70%;
  margin: 2px;
  padding: 2px;
  box-sizing: border-box;
}
.contacto .formulario form textarea {
  width: 70%;
  margin: 2px;
  padding: 2px;
}
.contacto .redes {
  width: 50%;
  height: auto;
}
.contacto .redes .iconos {
  font-size: 40px;
}
.contacto .redes .iconos p {
  margin: 10px;
  font-family: Special Elite;
  display: inline-block;
  font-size: 30px;
}
.contacto .redes i {
  transform: skew(0);
  transition: 0.5s;
}
.contacto .redes i:hover {
  color: #722F37;
  transform: skewX(-15deg);
}

footer {
  background-color: #AA9B81;
  height: 150px;
  width: 100%;
  font-size: 22px;
  font-family: Special Elite;
  color: white;
  padding: 15px;
  margin-top: 15px;
  text-align: center;
}
footer p {
  font-family: Special Elite;
  font-size: 25px;
}
footer p a {
  text-decoration: none;
  color: white;
}
footer p a:hover {
  color: #722F37;
}
footer .iconos {
  font-size: 40px;
}
footer .iconos p {
  margin: 10px;
  font-family: Special Elite;
  display: inline-block;
  font-size: 30px;
}
footer i {
  transform: rotateY(0deg);
  transition: 1s;
}
footer i:hover {
  color: #722F37;
  transform: rotateY(360deg);
}

.botonSubir {
  background-color: #722F37;
  color: white;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  text-align: center;
  line-height: 70px;
  text-decoration: none;
  font-family: Special Elite;
  font-size: 40px;
}

.botonSubir:hover {
  background-color: white;
  color: #722F37;
}

@media only screen and (max-width: 575px) {
  footer p {
    display: none;
  }
  main .presentacion p {
    padding: 5px;
  }
  .containerFAQ {
    display: flex;
    flex-direction: column;
  }
  .containerFAQ #accordion {
    width: 100%;
  }
  .containerFAQ .imagenesFAQ {
    width: 100%;
    text-align: center;
  }
  .containerFAQ .imagenesFAQ img {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .containerDemostracionDemo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nosotros .nos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nosotros .nos img {
    width: 100%;
  }
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contacto .formulario {
    width: 100%;
  }
  .contacto .redes {
    width: 100%;
    height: auto;
  }
  .botonSubir {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */